<h1>Lista de Materiales</h1>
<button mat-raised-button color="primary" routerLink="/materials/create">Crear Nuevo Material</button>

<mat-table [dataSource]="materials" class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let material"> {{ material.nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let material"> {{ material.tipo }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let material">
            <button mat-icon-button color="primary" [routerLink]="['/materials/edit', material.id]">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>